.header {
  width: 100%;
  height: 60px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border: none;
  z-index: 1000;
  margin-bottom: 10rem;
}

.header ul,
.header li {
  list-style: none;
}

.header a {
  text-decoration: none;
}

.header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1175px;
  height: 60px;
  padding: 0 1rem;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  width: 100%;
  max-width: 120px;
}

.header .mainNav .mainNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .mainNav .mainNavList li {
  padding: 0 0 0 1.5rem;
}

.header .mainNav .mainNavList li a {
  font-size: 14px;
  letter-spacing: 1.25px;
  color: #e85d04;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.header .mainNav .mainNavList li a:hover {
  color: #eee;
}

.header.sticky {
  position: fixed;
  background-color: #e85d04;
  padding: 0;
}

.header.sticky .mainNavList li a {
  color: #eee;
}

.header.sticky .mainNavList li a:hover {
  opacity: 0.85;
}

.header .mobileNav {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  max-width: 380px;
  height: 100vh;
  color: #eee;
  background: #121212;
  padding: 5rem 0 0 0;
  z-index: 10;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.header .mobileNav ul {
  width: 100%;
}

.header .mobileNav ul li {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.header .mobileNav ul li a {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.header .mobileNav ul li:hover {
  background-color: #e85d04;
}

.header .mobileNav ul li:hover a {
  color: #eee;
}

.mobileNav.open {
  right: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navbarToggleBtn {
  display: none;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  z-index: 10000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.navbarToggleBtn:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media screen and (max-width: 680px) {
  .header .mobileNav {
    display: block;
  }
  .header .navbarToggleBtn {
    display: block;
  }
  .header .mainNav {
    display: none;
  }
}

.adthrive-comscore.adthrive-footer-message {
  display: none !important;
}

.adthrive-comscore {
  display: none !important;
}

.adthrive-footer-message {
  display: none !important;
}

.textwidget {
  width: 100%;
}

.textwidget p {
  width: 100%;
}

.jeg_footer_title {
  color: #e85d04 !important;
}

.jeg_header_wrapper {
  display: none !important;
}

.topDivider {
  margin: 4rem 0;
}
/*# sourceMappingURL=header.css.map */