a {
  text-decoration: none;
}

.main-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-inner {
  width: 100%;
  max-width: 1175px;
  height: auto;
  min-height: 100vh;
}

.main-screen {
  width: 100%;
  height: auto;
  min-height: 60vh;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1175px;
}

.main-screen a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-screen a > div {
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.main-screen a > div p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: yellow;
}

.main-screen a > div h4 {
  padding: 0.5rem 0;
  margin: 0;
  text-transform: capitalize;
}

.main-screen a:hover {
  background-color: rgba(0, 0, 0, 0.21);
}

.main-screen a:hover div {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.main-screen a:hover div h4 {
  color: #e85d04;
}

.main-screen h4 {
  color: aliceblue;
  font-weight: 600;
  padding: 0 1rem;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.main-article {
  width: 65%;
  height: 60vh;
  cursor: pointer;
}

.main-article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-article h4 {
  font-size: 2rem;
}

.secondary-articles {
  width: 35%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondary-articles h4 {
  font-size: 1.25rem;
}

.sec-article-1 {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sec-article-2 {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 679px) {
  .main-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
  }
  .main-screen h4 {
    font-size: 1.2rem;
  }
  .main-screen .main-article {
    width: 100%;
    height: 18rem;
  }
  .main-screen .secondary-articles {
    width: 100%;
    height: 36rem;
  }
}

.popular-articles-screen {
  width: 100%;
  height: auto;
  position: relative;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 4rem;
}

.popular-articles-screen .particle-box {
  width: 99%;
  height: auto;
  border-radius: 6px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.popular-articles-screen .particle-box .particle-image {
  width: 100%;
  height: 14rem;
}

.popular-articles-screen .particle-box .particle-image img {
  width: 100%;
  height: 100%;
}

.popular-articles-screen .particle-box .particle-detail {
  padding-top: 1rem;
}

.popular-articles-screen .particle-box .particle-detail p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: yellow;
}

.popular-articles-screen .particle-box .particle-detail h4 {
  margin: 0;
  padding: 6px 0;
  color: #e85d04;
  font-size: 1.1rem;
  font-weight: 600;
}

.popular-articles-screen .particle-box:hover {
  background-color: rgba(0, 0, 0, 0.21);
}

.popular-articles-screen .particle-box:hover .particle-detail h4 {
  color: aliceblue;
}

@media (max-width: 900px) {
  .popular-articles-screen {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .popular-articles-screen .particle-detail h4 {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .popular-articles-screen {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.featured-articles-screen {
  width: 100%;
  height: auto;
  position: relative;
  padding: 2rem 0 6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 4rem;
}

.featured-articles-screen .particle-box {
  width: 99%;
  height: auto;
  border-radius: 6px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.featured-articles-screen .particle-box .particle-image {
  width: 100%;
  height: 14rem;
}

.featured-articles-screen .particle-box .particle-image img {
  width: 100%;
  height: 100%;
}

.featured-articles-screen .particle-box .particle-detail {
  padding-top: 1rem;
}

.featured-articles-screen .particle-box .particle-detail p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: yellow;
}

.featured-articles-screen .particle-box .particle-detail h4 {
  margin: 0;
  padding: 6px 0;
  color: #e85d04;
  font-size: 1.1rem;
  font-weight: 600;
}

.featured-articles-screen .particle-box:hover {
  background-color: rgba(0, 0, 0, 0.21);
}

.featured-articles-screen .particle-box:hover .particle-detail h4 {
  color: aliceblue;
}

@media (max-width: 900px) {
  .featured-articles-screen {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .featured-articles-screen .particle-detail h4 {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .featured-articles-screen {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.lol-main-article {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.lol-main-article a {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}

.lol-main-article .lol-main-article-image {
  width: 100%;
  max-width: 1170px;
  height: 580px;
}

.lol-main-article .lol-main-article-detail {
  width: 100%;
  max-width: 1170px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.lol-main-article .lol-main-article-detail h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 5px 0;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.lol-main-article .lol-main-article-detail p {
  font-size: 1.2rem;
  color: yellow;
  margin: 0;
  padding: 5px 0;
}

.lol-main-article :hover {
  background-color: rgba(0, 0, 0, 0.21);
}

.lol-main-article :hover .lol-main-article-detail h4 {
  color: #e85d04;
}

@media (max-width: 900px) {
  .lol-main-article .lol-main-article-image {
    height: 380px;
  }
  .lol-main-article .lol-main-article-detail {
    padding: 10px 0;
  }
  .lol-main-article .lol-main-article-detail h4 {
    font-size: 1.2rem;
  }
  .lol-main-article .lol-main-article-detail p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .lol-main-article .lol-main-article-image {
    height: 300px;
  }
  .lol-main-article .lol-main-article-detail {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=screen.css.map */